fastapi
uvicorn
pydantic
pydantic-settings
python-jose[cryptography]
httpx
neo4j
python-multipart
pydantic[email]
pypdf
python-dotenv
supabase
google-generativeai
langgraph
langchain-core
openai
sentence-transformers